<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547672813506-g99nm60sp6mi3ruantqki8qhkgf1icnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547672813506-g99nm60sp6mi3ruantqki8qhkgf1icnq</string>
	<key>API_KEY</key>
	<string>AIzaSyCB1JYvjUyIZNajLHg4T9LfgJ30ghIQHfE</string>
	<key>GCM_SENDER_ID</key>
	<string>547672813506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xlo.xloAuctionApp</string>
	<key>PROJECT_ID</key>
	<string>xlo-auction-app</string>
	<key>STORAGE_BUCKET</key>
	<string>xlo-auction-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547672813506:ios:92d7156184b9d07e09305b</string>
</dict>
</plist>